// SHOW/CONTAINER STYLING 

// header //

.app-name {
  padding: 1em;
  width: 700px;
  font-size: 1.7em;
  font-family: cursive;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #C4EA93, 0 0 0 2px brown;
  background-color: #FFD6BD;
  line-height: 1em;
  margin: 0 auto;
  margin-top: 0.5em;
  color: #66442F;
  letter-spacing: 3px;
}

/* Style for the body */
body {
    background-color: #C4EA93;
}

h3 {
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    color: #66442F;
}

h4 {
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 15px;
    color: #66442F;
    overflow-wrap: break-word;
    word-break: break-all;
}
  /* Style for the navigation */
.nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .nav a {
    text-decoration: none;
    color: #66574E;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
  }
  
  /* Style for the navigation container */
  .nav div {
    border: 1px solid #A5E650;
    padding: 10px 20px;
    border-radius: 8px;
    display: inline-block;
    background-color: #f8f8f8;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for the bookmark container */
  .bookmark-container, .bookmarks-container Form {
    font-family: 'Bricolage Grotesque', sans-serif;
    color: #66442F;
    padding: 35px;
    width: 80%;
    margin: 0 auto;
    background-color:#A5E650;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content */

    h2 {
      font-size: 30px;
      }
  }
  
  /* Style for the form inputs */
  .bookmark-form input[type="text"] {
    width: 90%;
    padding: 8px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Style for the submit buttons */
  .bookmark-form input[type="submit"] {
    background-color: #66574E;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 5px; /* Separate the buttons */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .bookmark-form input[type="submit"]:hover {
    background-color: #66574E;
    color: #FFD6BD;
  }

  .bookmarks-container ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-gap: 5px 10px;
  }

  .bookmark {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 30px;
    list-style: none;
    color: #66442F;

    a {
      text-decoration: none;
      color: #66442F;
    }

    a:hover {
      color: #442e20;
      transition: color 0.3s ease;
    }

    padding: 35px;
    width: 350px;
    height: 175px;
    line-height: 175px;
    margin: 10px auto;
    background-color:#FFD6BD;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  
  /* Align the buttons horizontally */
  .bookmark-container h2 {
    display: inline-block;
    margin-right: 10px;
    font-family: 'Bricolage Grotesque', sans-serif;
  }
  
  /* Clear floating elements */
  .bookmark-conatiner::after {
    content: "";
    display: table;
    clear: both;
  }
  
